.venv
venv
node_modules
.node_modules
.sentinel
.compiled-static
.idea
.env
.pyc
.coverage
__generated__
frontend/schema.graphql
.ipython
.vs
.report.json
__pycache__

# tmp
auto
public
react-app-unused
tmp
workspace
.bak
*.bak
workdir
docs/build

#local copy of langchain if it exists
langchain

# local models
llama