.venv
venv
node_modules
.node_modules
.sentinel
.compiled-static
.idea
.env
.pyc
.coverage
__generated__
frontend/schema.graphql
.ipython

__pycache__
.pytest_cache
.bash_profile
.vs

# tmp
auto
public
react-app-unused
tmp
workspace
.bak
*.bak
workdir

#local copy of langchain if it exists
langchain

# docs
docs/build