aiofiles==23.2.1
beautifulsoup4==4.12.2
black==23.9.1
celery==5.3.4
celery-singleton==0.3.1
channels==4.0.0
channels_redis==4.1.0
chromadb==0.4.13
colorlog==6.7.0
daphne==4.0.0
django==4.2.7
django-channels-graphql-ws==1.0.0rc6
django_extensions==3.2.3
django-redis==5.3.0
Faker==19.6.2
fireworks-ai==0.11.2
flake8==6.1.0
fastapi==0.103.2
graphene-django==3.1.5
google-api-python-client==2.100.0
googlesearch-python==1.2.3
httpx==0.25.2
hvac==1.2.1
ipython==8.15.0
isort==5.12.0
jq==1.4.1
jsonpath-ng==1.6.0
jsonschema==4.19.1
jsonschema-pydantic==0.5.0
langchain==0.1.5
langchain-community==0.0.17
langchain-google-genai[images]==0.0.6
langchain-experimental==0.0.50
langchain_mistralai==0.0.3
llama-cpp-python==0.2.23
metaphor-python==0.1.16
openai==1.3.9
openapi-pydantic==0.3.2
pinecone-client==2.2.4
psycopg==3.1.10
pydantic==2.5.2
pypdf==3.17.0
pytest==7.4.2
pytest_asyncio==0.21.1
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-mock==3.11.1
pytest-snapshot==0.9.0
pytest-xdist==2.4.0
python-multipart==0.0.6
redis==5.0.0
requests==2.31.0
tiktoken==0.5.1
wikipedia==1.4.0
wolframalpha==5.0.0
unstructured==0.12.3
uvicorn[standard]==0.23.2
