openai==0.27.2
django==4.2
black==23.3.0
isort==5.12.0
pytest==7.2.2
flake8==6.0.0
pyright==1.1.301
pytest-cov==4.0.0
Faker==18.4.0
graphene-django==3.0.0
redis==4.5.4
celery==5.2.7
channels==4.0.0
channels_redis==4.1.0
daphne==4.0.0
# psycopg==3.1.8
psycopg2
ipython==8.12.0
django_extensions==3.2.1
