aiofiles==23.1.0
beautifulsoup4==4.12.2
black==23.3.0
celery==5.2.7
celery-singleton==0.3.1
channels==4.0.0
channels_redis==4.1.0
colorlog==6.7.0
daphne==4.0.0
django==4.2.2
django-channels-graphql-ws==1.0.0rc6
django_extensions==3.2.3
django-redis==5.2.0
Faker==18.9.0
flake8==6.0.0
fastapi==0.99.1
graphene-django==3.1.1
google-api-python-client==2.85.0
googlesearch-python==1.2.3
httpx==0.24.1
ipython==8.13.2
isort==5.12.0
jsonpath-ng==1.5.3
jsonschema==4.0.1
langchain==0.0.262
openai==0.27.8
pinecone-client==2.2.1
pyright==1.1.301
# Note: django reset_db requires psycopg2 to be installed
#       but psycop3 is required for async queries.
psycopg==3.1.9
pytest==7.3.1
pytest_asyncio==0.21.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-mock==3.10.0
redis==4.6.0
requests==2.31.0
tiktoken==0.4.0
wikipedia==1.4.0
wolframalpha==5.0.0
uvicorn[standard]==0.22.0
