@keyframes dash {
  to {
    stroke-dashoffset: -8;
  }
}

.edgePath {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 4, 4;
  stroke-dashoffset: 0;
  animation: dash 1s linear infinite;
}

.react-flow__attribution {
  background-color: transparent;
}

.react-flow__handle-connecting {
  background-color: #ff6060;
  border-color: #ff6060;
}

.react-flow__handle-valid {
  background-color: #55dd99;
  border-color: #55dd99;
}
