@keyframes dash {
  to {
    stroke-dashoffset: -8;
  }
}

.react-flow__edges {
    z-index: 10 !important;
}

.edgePath {
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 4, 4;
  stroke-dashoffset: 0;
  animation: dash 1s linear infinite;
}

.react-flow__attribution {
  background-color: transparent;
}

.react-flow__handle::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -2px;
  border-radius: 10px;
}

.config-node:hover .react-flow__handle {
  background-color: #000;
  border-color: #fff;
}

.config-node .react-flow__handle {
  background-color: transparent;
  border-color: transparent;
}

.config-node .react-flow__handle:hover {
  background-color: #e2e8f0;
  border-color: #e2e8f0;
}

.react-flow__handle-connecting {
  background-color: #ff6060 !important ;
  border-color: #ff6060 !important ;
}

.react-flow__handle-valid {
  background-color: #55dd99 !important ;
  border-color: #55dd99 !important ;
}
